@import '../variable';

.banner {
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary;
  background-image: url("https://tripscout.co/assets/theme/marketing/landing_hero-817ff0d6aaa52de5fc32e1d0edb540dacbfcc106b6942839ce3d41338817743d.png");
  background-position: center;
  background-size: cover;

  .banner-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
    object-position: bottom;
  }

  .banner-content {
    z-index: 2;
    text-align: center;
    font-size: 1.5em;
    h1 {
      font-size: 3em;
      margin: 0;
    }
  }


  @media screen and (max-width: 780px) {
    height: 45vh;
  }
}